@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Outfit:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";

body {
  font-family: 'Space Grotesk', sans-serif;
  @apply bg-white text-gray-900;
  position: relative;
  overflow-x: hidden;
}
/*subtle grid background */
.bg-grid {
  background-image: linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(to right, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 20px 20px;
}
/* Swiper Navigation Buttons */
.swiper-button-prev,
.swiper-button-next {
  color: gray !important; /* Change arrow color */
  border-radius: 50%; /* Make it round */
  width: 10px; /* Set button size */
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* Hover effect for buttons */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: rgba(0, 0, 0, 0.5); /* Darker background on hover */
}


/* Change Size & Color of Dots */
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color:rgb(67, 67, 67); /* Change dot color */
  opacity: 0.5;
  bottom: -10px;
}

/* Active Dot */
.swiper-pagination-bullet-active {
  background-color: #261FB3; /* Change active dot color */
  opacity: 1;
}

/* Move Dots Up */
.swiper-pagination {
  bottom: -20px; /* Adjust vertical placement */
}





/* Change Arrow Button Size */

